@model Aurigma.BackOffice.TemplateDto
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = $"Edit {Model.Name}";
}

@section Scripts {
	<script src="~/js/storefront.main.js"></script>

	<script type="module">
		document.addEventListener("DOMContentLoaded", async function (event) {
			const backoffice = new Aurigma.BackOffice({
				tenantId: @ViewBag.TenantId,
				backOfficeUrl: "@ViewBag.BackOfficeUrl",
				pluginSettings: { currency: 'USD' }
			});

			const userInfo = { id: "1234" }; // pass a real user id of your customers here

			const container = document.getElementById('editor-container');

			const data = await backoffice.templates.findById(@Model.Id);
			await backoffice.loadEditor(container, data, userInfo);

			backoffice.onFinish.subscribe((backoffice, project) => console.log(project));
		});
	</script>
}

<div id="editor-container" style="height: 80vh;">

</div>