@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
	<h1 class="display-4">Welcome</h1>
	<p class="lead">This is a Customer's Canvas ASP.NET MVC sample application. </p>
	<hr class="my-4">
	<p>It demonstrates several use cases: </p>
	<ul>
		<li>Editing a design in a Design Editor directly (no ecommerce integration).</li>
		<li>Basic integration to an ecommerce system - what you need to do both on the storefront and admin side.</li>
	</ul>
	<p>Use the menu in a top navigation bar to play with the demos.</p>
	<hr />
	<p>For better understanding how it works, it is highly recommended to read the documentation.</p>
	<p>
		<a class="btn btn-link btn-sm" href="https://customerscanvas.com/docfx/" target="_blank" role="button">Visit Developer Center</a>
	</p>
</div>