<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/1d1eab9a-f3a9-4eba-8ba9-a5f23396f4eb/resourcegroups/Temp-asimontsev-raffleboxdemo/providers/Microsoft.ContainerRegistry/registries/raffleboxdemo</ContainerResourceId>
    <ContainerResourceName>raffleboxdemo</ContainerResourceName>
    <Subscription>Visual Studio Enterprise with MSDN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>raffleboxdemo.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/1d1eab9a-f3a9-4eba-8ba9-a5f23396f4eb/resourcegroups/Temp-asimontsev-raffleboxdemo/providers/Microsoft.Web/sites/rafflebox-demo</ResourceId>
    <ResourceGroup>Temp-asimontsev-raffleboxdemo</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://rafflebox-demo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://rafflebox-demo.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>907b10d1-a283-4494-b1e0-16d80b5ee9a7</ProjectGuid>
  </PropertyGroup>
</Project>